<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>BasicExtentReport</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCase6</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCase3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCase2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCase5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCase4</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCase1</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
