<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7c74e5">  <td>19/01/10 20:43:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BasicExtentReport.getResult(org.testng.ITestResult)[pri:0, instance:BasicExtentReport@2ef5e5e3]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1047503754</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>19/01/10 20:43:51</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BasicExtentReport.getResult(org.testng.ITestResult)[pri:0, instance:BasicExtentReport@2ef5e5e3]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1047503754</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>19/01/10 20:43:51</td>   <td>33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BasicExtentReport.getResult(org.testng.ITestResult)[pri:0, instance:BasicExtentReport@2ef5e5e3]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1047503754</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>19/01/10 20:43:51</td>   <td>41</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BasicExtentReport.getResult(org.testng.ITestResult)[pri:0, instance:BasicExtentReport@2ef5e5e3]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1047503754</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>19/01/10 20:43:51</td>   <td>59</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BasicExtentReport.getResult(org.testng.ITestResult)[pri:0, instance:BasicExtentReport@2ef5e5e3]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1047503754</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>19/01/10 20:43:50</td>   <td>-308</td> <td>&nbsp;</td><td title="&gt;&gt;BasicExtentReport.startReport()[pri:0, instance:BasicExtentReport@2ef5e5e3]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1047503754</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>19/01/10 20:43:51</td>   <td>66</td> <td>&nbsp;</td><td title="&lt;&lt;BasicExtentReport.tearDown()[pri:0, instance:BasicExtentReport@2ef5e5e3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1047503754</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>19/01/10 20:43:51</td>   <td>-33</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BasicExtentReport.testCase1()[pri:0, instance:BasicExtentReport@2ef5e5e3]">testCase1</td> 
  <td>main@1047503754</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>19/01/10 20:43:51</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BasicExtentReport.testCase2()[pri:0, instance:BasicExtentReport@2ef5e5e3]">testCase2</td> 
  <td>main@1047503754</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>19/01/10 20:43:51</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BasicExtentReport.testCase3()[pri:0, instance:BasicExtentReport@2ef5e5e3]">testCase3</td> 
  <td>main@1047503754</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>19/01/10 20:43:51</td>   <td>34</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BasicExtentReport.testCase4()[pri:0, instance:BasicExtentReport@2ef5e5e3]">testCase4</td> 
  <td>main@1047503754</td>   <td></td> </tr>
<tr bgcolor="7c74e5">  <td>19/01/10 20:43:51</td>   <td>54</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BasicExtentReport.testCase5()[pri:0, instance:BasicExtentReport@2ef5e5e3]">testCase5</td> 
  <td>main@1047503754</td>   <td></td> </tr>
</table>
